In [1]:
import pandas as pd
import time

In [29]:
df= pd.read_csv(r'C:\Users\kedia\Downloads\option-chain-ED-NIFTY-22-Jul-2021.csv', header = 1)
df.drop(["Unnamed: 0","Unnamed: 22"], axis = 1, inplace = True)
arr=['OI_CALL', 'CHNG IN OI_CALL', 'VOLUME_CALL', 'IV_CALL',
 'LTP_CALL', 'CHNG_CALL', 'BID QTY_CALL', 'BID PRICE_CALL',
 'ASK PRICE_CALL', 'ASK QTY_CALL', 'STRIKE PRICE', 'BID QTY_PUT',
 'BID PRICE_PUT', 'ASK PRICE_PUT', 'ASK QTY_PUT', 'CHNG_PUT',
 'LTP_PUT', 'IV_PUT', 'VOLUME_PUT', 'CHNG IN OI_PUT', 'OI_PUT']

df.columns=arr
df= df[["BID PRICE_CALL", "ASK PRICE_CALL", "BID PRICE_PUT", "ASK PRICE_PUT", "STRIKE PRICE"]]
df = df[df["BID PRICE_CALL"]!="-"]
df = df[df["BID PRICE_PUT"]!="-"]
df = df[df["ASK PRICE_CALL"]!="-"]
df = df[df["ASK PRICE_PUT"]!="-"]
gain = pd.DataFrame(columns= ["lower_strike","higher_strike","gain","gain_inv"])
for i in range(len(df)):
    try:
        df.iloc[i]["STRIKE PRICE"] = float(df.iloc[i]["STRIKE PRICE"].replace(',',''))
        df.iloc[i]["ASK PRICE_CALL"] =float(df.iloc[i]["ASK PRICE_CALL"].replace(',',''))
        df.iloc[i]["ASK PRICE_PUT"] = float(df.iloc[i]["ASK PRICE_PUT"].replace(',',''))
        df.iloc[i]["BID PRICE_PUT"] = float(df.iloc[i]["BID PRICE_PUT"].replace(',',''))
        df.iloc[i]["BID PRICE_CALL"] = float(df.iloc[i]["BID PRICE_CALL"].replace(',',''))
    except:
        continue

In [30]:
for i in range(len(df)):
    [short_call_inv,long_call,short_put,long_put_inv, lower_strike] = df.iloc[i]
    
    for j in range(i+1,len(df)):
        
        ##Buy bull and bear spread
        [short_call, long_call_inv, short_put_inv,long_put, higher_strike] = df.iloc[j]
        pnL=short_call - long_call + short_put - long_put + higher_strike - lower_strike     
        pnL_inv = short_call_inv - long_call_inv + short_put_inv - long_put_inv + lower_strike - higher_strike
        if pnL>1 or pnL_inv>1:
            gain.loc[len(gain.index)] = [lower_strike, higher_strike, pnL, pnL_inv]

In [31]:
gain[gain["gain"]>0]
gain[gain["gain_inv"]>0]

Empty DataFrame
Columns: [lower_strike, higher_strike, gain, gain_inv]
Index: []

In [32]:
gain[gain["gain"]>0]

   lower_strike  higher_strike  gain  gain_inv
0       15350.0        15700.0  1.05     -3.75

In [38]:
df

   BID PRICE_CALL ASK PRICE_CALL BID PRICE_PUT ASK PRICE_PUT STRIKE PRICE
0          2314.5         2386.5          0.35           0.4        13400
1         2265.65        2334.05          0.45           0.5        13450
2         2215.15         2280.7           0.3           0.4        13500
3          2134.7         2235.5          0.25          0.35        13550
4         2086.35        2186.35          0.35          0.45        13600
..            ...            ...           ...           ...          ...
76            0.9           0.95          1432       1464.85        17200
77            0.8            0.9        1481.9        1514.8        17250
78           0.75           0.85       1530.85        1564.2        17300
79           0.75            0.8       1580.75       1614.25        17350
80            0.7           0.75       1631.05        1652.5        17400

[81 rows x 5 columns]

In [39]:
df[df["STRIKE PRICE"]==15350]

   BID PRICE_CALL ASK PRICE_CALL BID PRICE_PUT ASK PRICE_PUT STRIKE PRICE
39         407.15         409.35           6.1          6.15        15350